<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlignOnFreq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>AlignOnVolume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>ApplyEnvelope.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>ApplyPitchCurve.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>ApplyValueList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ApplyValuesFromSeq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Audio2Envelope.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AudioFilePlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AutomationChild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AutomationChildTestUnit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AutomationContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>AutomationContainerTestUnit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>CentContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>ColorByKey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>CreateGridSequence.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>CsoundPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>EnvToSeq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>EnvelopeChild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>EnvelopeContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>EnvelopeGate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>EqlDstrbtn_Freq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>EqlDstrbtn_Pitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>EqlDstrbtn_Start.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>EqlDstrbtn_Volume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>ExportDescriptionListing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>ExtractEnvSequence.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ExtractFrequencyVertexes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>FixGlissandoEndPoints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>FixGlissandoStartPoints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>FoldByParameter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>FrequencyStandardContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>Gate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>GlissandoChild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>GlissandoContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>ImportFrequencies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>ImportMaxMSPCollForSingleParameter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>JoinByFrequency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Legato.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>LilyPondExport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>MapDynamicExpr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>MarkChild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>MarkContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Normalize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>OneVoice_Loudest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>OscilPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>PitchContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>PitchCurveContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>PitchGridContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>PitchQuantization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>Quantization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>QuinceApi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>RemoveParameter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>ResampleEnvelope.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>ReverseLegato.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>Seq2PitchCurve.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>SequenceChild.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>SequenceChildTestUnit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SetParameter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Sets_Difference.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Sets_Intersection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Sets_SymDiff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Sets_Union.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>Sets_UnionNoDoubles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TempoChange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TimeGridContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>TimeQuantization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>Transpose.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>VolumeStandardContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>quince.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50035ADD11C97C37008D4F11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5009C31D1187525900666C2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>500CACDF122D4AD600B980B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>500CADA0122D59FD00B980B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>500CADBE122D5AB400B980B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>500F1DB516ED4E5A006FCF76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>500F1ED113EDEDE200A25411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5015AEAD133E70DA006C85AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5015AFFB133EA9A4006C85AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501AF9EE141561B7007AFEF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>501C284011CE8D920097B5F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5020C69E13C7A23500D58742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5027F13813951CED00A9389A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50289EFA13EDD57000FB95D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50325E9F1226947500E22031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5034A0C813D386D4008EB6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5034A0E013D39399008EB6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5035B8EF13563EBE003E8570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>504A692311A9C0E5007F60FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>504A69A911A9F692007F60FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>504FDE8713BCC3A500470C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506BF832117A5A9700ECBC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506BF853117A5B1A00ECBC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506BF899117A5DD500ECBC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506BF8C2117A5F6300ECBC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506BF8E8117A606600ECBC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506BF8F6117A60DD00ECBC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506BF92D117A629800ECBC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506BF95A117A646200ECBC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506BF967117A64B200ECBC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506BF99B117A660A00ECBC4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506C6B2D135616F60060BD9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50716F7C117A77E600357470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50716F96117A78C400357470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50717008117A7E0F00357470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50717023117A7F1800357470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50717033117A7F4300357470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5074FE4C1238E1A500BB60C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>507750B61268DCE700AF7956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>507C6F7111977EDB00914B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508C43B11295596E00875B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508C44EA1295E65E00875B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508CB8C213C7BABC00F43AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50999AA6127642A200AD0D65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509E993313C8A2D90032AEF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A362CC126EF67B004D360B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A522B4117A52560072FB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A522FA117A52F60072FB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50AEBF6F11CEC6AE0055CA29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B171F813CB336400C9F105</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B86D311190383D00D235AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B8F4911230F2E600E444BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B8F5241230F60200E444BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B8F5801230FF7700E444BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50BFCB7B129987DB00618422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50D194D11230455000C3FC2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50D195D01230626C00C3FC2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50D196021230669B00C3FC2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50D196A012306E8400C3FC2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50D3937011C837BA0080B427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50D3E76113E6FE6F00BA5D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DE7B0113CC473D00FD4F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DE7B1913CC4ACC00FD4F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DE7B3113CC50AC00FD4F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DE7B4913CC675000FD4F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50E860AF11F857A20014CFE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50E93BD8119065CD00A63246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50EAF2C71393BAD200258AD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50F420541198BF3C009F695A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50F471D013D0D815005CB978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50F471E813D0E2DA005CB978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D15AC270486D014006FF6A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
